{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="PONIGYM Template">
    <meta name="keywords" content="PONIGYM, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PONIGYM | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href= "{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/font-awesome.min.css' %}"  type="text/css">
    <link rel="stylesheet" href= "{% static 'css/themify-icons.css' %}"  type="text/css">
    <link rel="stylesheet" href= "{% static 'css/owl.carousel.min.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img src="img/logo-normal.png" alt="">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                         <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                       
                        <li><a href="{% url 'schedule' %}">Schedule</a></li>
                        <li><a href="{% url 'gallery' %}">Portfolio</a></li>
                        <li ><a href="{% url 'blog' %}">Blog</a>
                            
                            <ul class="dropdown">
                                <li><a href="{% url 'blog-details' %}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="./contact.html">Contacts</a></li>
                    </ul>
                </nav>
                <div class="nav-right">
                    <i class="ti-search"></i>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Map Section Begin -->
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14039.530717403992!2d77.34859673190088!3d28.392611270207233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdcc28f34693d%3A0x671c8abfcd3febb7!2sSector%2082%2C%20Faridabad%2C%20Haryana%20121002!5e0!3m2!1sen!2sin!4v1620889552422!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" ></iframe>
        <i class="fa fa-map-marker"></i>
    </div>
    <!-- Map Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-info">
                        <i class="ti-location-pin"></i>
                        <p>H no 1008 Florida Apartment Sec 82 Faridabad</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info">
                        <i class="ti-email"></i>
                        <ul>
                            <li><span>Phone:</span>9110046722</li>
                            <li><span>Mail:</span> hrithiktiwari33@gmail.com</li>
                            <li><span>Mail:</span> 82877harsh@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info">
                        <i class="ti-timer"></i>
                        <ul>
                            <li><span>Week Days:</span> 10:00 – 22:00</li>
                            <li><span>Sunday:</span> Close</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <div class="section-title">
                    <h2>Leave message</h2>
                    <p>Our staff will call back later and answer your questions.</p>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Email">
                        </div>
                        <div class="col-lg-12 text-center">
                            <textarea placeholder="Your message"></textarea>
                            <button type="button">
                                <a href="{% url 'login' %}">Login</a>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    <footer class="ftco-footer ftco-bg-dark ftco-section" style="position: relative;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg-3">
                    
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2">Keep in Touch</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">School of Computer Science & Engg. KIIT Deemed to be University, Bhubaneswar, INDIA 751024</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 9975667652, 8178778264</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">mcareere@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2">Recent Activities</h2>
                        <div class="block-21 mb-4 d-flex">
                            <a  data-setbg="{% static 'img/sky1.jpeg'%}"></a>
                            <div class="text">
                            
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Date</a></div>
                                    <div><a href="#"><span class="icon-person"></span> User</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> Age</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-5 ml-md-4">
                        <h2 class="ftco-heading-2">Make Career Easy</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Deparments</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2">Subscribe Us</h2>
                        <form action="#" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="form-control submit px-3">
                            </div>
                        </form>
                    </div>
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <footer>
              <p style="width: 100%; text-align: center; color:#035aa6;">Founded by Make Career Easy ❤️</p>
            </footer>
        </div>
    </footer>
    
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins --><script src= "{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src= "{% static 'js/bootstrap.min.js'  %}"></script>
    <script src= "{% static 'js/jquery.magnific-popup.min.js'  %}"></script>
    <script src= "{% static  'js/mixitup.min.js'  %}"></script>
    <script src="{% static  'js/jquery.slicknav.js'  %}"></script>
    <script src="{% static  'js/owl.carousel.min.js'  %}"></script>
    <script src="{% static 'js/main.js' %}" ></script>
</body>

</html>